
section#about
    display: flex
    background-color: #FAFAFA
    margin-bottom: 1vh
    flex-direction: column
    align-items: center

    .me
        padding: 3vw
        text-align: center

        h2
            font-size: 3em

        p
            font-size: 1.3em
            

    .info
        padding: 3vw
        display: flex
        width: 85%
        justify-content: center

     

    .info-description
        display: flex
        padding: 2rem
        flex-direction: column
        gap: 1.5vh
        flex: 1

        p
            font-size: 1.2em

    .skills
        display: flex
        flex-direction: column
        padding: 1rem
        font-size: 1.2em
        flex: 1
        gap: 1.5vh

        ul
            list-style: none
            display: flex
            flex-wrap: wrap

            li
                padding: 0.5rem
                margin-bottom: 1.2rem
                margin-right: 1.2rem
                background: rgba(153,153,153,0.2)
                border-radius: 5px
                font-weight: 600
                color: #777
