footer
    display: flex
    flex-direction: column
    background-color: #0C1012
    color: #FFF


    
    .footer-content
        padding: 10vh
        display: flex
        justify-content: space-between
        .footer-description
           width: 20%


    .copy
        width: 80%
        border-top: 1px solid #E7E7E7
        margin: 0 auto
        padding: 1vw
        text-align: center


