section#contact
    display: flex
    flex-direction: column

    .title
        display: flex
        font-size: 1.2em
        gap: 1vh
        flex-direction: column
        align-items: center
        padding: 5vh

        h1
            font-size: 2em

        p
            padding: 3vh


    .form
        width: 80%
        padding: 5vh
        margin: 0 auto

    form
        display: flex
        gap: 10px
        flex-direction: column

        input
            background: #f0f0f0
            padding: 20px
            border-radius: 10px
            font-weight: 600
            border: 1px solid #ebebeb



        textarea
            border: #ebebeb
            font-weight: 600
            padding: 10px
            border-radius: 10px
            background: #f0f0f0

    button
        margin-top: 1vh
        border-radius: 10%
        width: 5vw
        color: #FFF       
        cursor: pointer
        padding: 1em
        border: none
        background-color: #0C1012
        font-weight: 500