

section#hero
    display: flex
    background: #0C1012
    color: #FFF


    #container-hero 
        padding: 10vh 10vh 10vh 10vh
        display: flex
        font-size: 1.2em
        align-items: center
        justify-content: space-around




    
    .about 
        display: flex
        line-height: 1.5em
        align-items: center 
        justify-content: center

        .about_info 
            display: flex
            flex-direction: column
            gap: 3vh
            width: 50%

        h1
            font-size: 2em


  