@use '../variables'


nav
    border-top: 1px solid #E5E7EB
    border-bottom: 1px solid variables.$bg-color-secondary

nav ul
    display: flex
    flex-direction: row
    justify-content: center
    padding: 1rem
    list-style-type: none
    gap: 10px
    color: white

    li
        font-size: 1.4rem

    a
        color: white
        text-decoration: none

    a:focus 
        color: #4F46E5