@use '../variables'


header
    display: flex
    background: #0C1012
    flex-direction: row
    align-items: center
    position: fixed
    width: 100%
    justify-content: space-around
    padding: 3vh
    font-size: 1.2rem
    scroll-behavior: smooth

    a 
        text-decoration: none
        color: white


    ul 
        display: flex
        gap: 1vw
        list-style: none

#menu-button
    display: none

@media screen and ( max-width: 500px )

    .mobile 
        width: 100%
        display: flex
        justify-content: space-around
        align-items: center


    header
        flex-direction: column

    nav
        display: none


    ul
        padding: 20px
        flex-direction: column

    #menu-button
        padding: 20px
        display: block
        color: white