
section#projects
    font-size: 1.2em
    background-color: #7159c1
    color: #FFF

section#projects .title
    font-size: 1.1em
    padding: 10vh
    text-align: center

.list-projects
    display: flex
    padding-bottom: 10vh
    gap: 5vh
    flex-direction: column
    align-items: center
